OPENAI_API_KEY=

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=agente-conversaciones-reto

DATASET_URL=https://raw.githubusercontent.com/armandoordonez/AI-Engineering/main/data/Reto_data_20251023_122206.parquet
DATASET_PATH=data/raw/reto_data.parquet
