APP_MODE=development

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
USE_LLM_ANALYSIS=false

RAG_EMBEDDING_BACKEND=local
RAG_AUTO_BUILD=false

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=agente-conversaciones-reto
LANGSMITH_VALIDATION_ROOT_ID=106064209472141_767905085584441

DATASET_URL=https://raw.githubusercontent.com/armandoordonez/AI-Engineering/main/data/Reto_data_20251023_122206.parquet
DATASET_PATH=data/raw/reto_data.parquet
